[user]
    name = Jeff Wu
    email = wuthefwasthat@gmail.com
[core]
    editor = /usr/local/bin/vim
[alias]
    a = add
    aa = "!git add .; git add -u ."
    b = branch
    br = "!git branch | grep -v '^\\s*zz'"
    bs = bisect
    bsb = bisect bad
    bsg = bisect good
    bsr = bisect reset
    bss = bisect start
    cln = clean -f -d
    clo = clone --recursive
    cm = commit
    cmm = commit -m
    cma = commit --amend
    co = checkout
    cp = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue
    diff = icdiff
    disc = checkout -- .
    d = icdiff
    dc = icdiff --cached
    del = branch -d
    ds = diff --stat
    f = fetch --all --prune
    find = "!git ls-files | grep -i"
    g = grep
    hash = rev-parse HEAD
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    m = merge
    new = checkout -b
    pr = "!hub pull-request"
    pu = "push -u"
    pl = "pull"
    plr = "pull --rebase"
    rb = rebase
    rbi = rebase -i
    rba = rebase --abort
    rbc = "!git add .; git add -u .; git rebase --continue"
    rbom = "!git fetch && git rebase origin/master"
    rl = reflog
    rs = reset
    rsh = reset --hard
    rv = revert
    rva = revert --abort
    rvc = revert --continue
    s = status
    sh = show
    shs = show --stat
    st = stash
    stl = stash list
    sta = stash apply
    sts = stash save
    stp = stash pop
    track = "!f(){ branch=$(git name-rev --name-only HEAD); cmd=\"git branch $branch -u ${1:-origin}/${2:-$branch}\"; echo $cmd; $cmd; }; f"
    unstage = reset HEAD .
    untrack = "!f(){ branch=$(git name-rev --name-only HEAD); cmd=\"git branch --unset-upstream ${1:-$branch}\"; echo $cmd; $cmd; }; f"
[color]
    ui = true
[push]
    default = current
# [branch]
# 	autosetupmerge = always
# 	autosetuprebase = always
