gitconfig
gitignore_global
screenrc
spacemacs
tmux.conf
vim
nvim ~/.config/nvim
vimperator
vimperatorrc
vimrc
zshrc_scripts
config/karabiner/karabiner.json
preview.sh

# NOTE: works, but better to source this in zshrc instead of installing it
# zshrc
